#horario {
    display: grid;
    place-content: center;
    text-align: center;
    color: white;
    gap: 30px;
    height: 100%;
    width: 100%;
}

#horario header h1 {
    font-size: 40px;
    border-bottom: 1px solid;
}

#conteudo {
    padding: 20px;
    color: white;
    border-radius: 20px;
    margin: auto;
    width: 500px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.479);
    text-align: center;
}

#conteudo h4 {
    font-size: 24px;
}

#conteudo div img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    display: block;
    border-radius: 20px;
    margin: 20px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.479);
}