* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header#nav-container,
footer#footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: #222;
    color: #fff;
}

main {
    height: 80vh;
}